* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1 1 0;
}
footer {
  width: 100%;
  height: 5vh;
}
#people_icon {
  max-width: 150px;
}
.identification {
  gap: 30px;
  align-items: center;
}
.cash {
  justify-content: space-between;
}
p {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}
.menu-funcoes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin: 30px;
}
.box {
  width: 15%;
  max-height: 30vh;
  background-color: white;
  border-radius: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-wrap: wrap;
}
.card {
  margin-left: 30px;
  margin-right: 30px;
}
.transacional {
  width: 100px;
  padding-bottom: 5px;
}
.text-trans {
  font-size: 15px;
  padding-top: 10px;
}
.cartoes {
  padding: 10px;
  width: 100px;
  max-height: 100px;
}
.meus_cartoes {
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px black;
}
.card1 {
  display: flex;
  justify-content: space-around;
}
.my-money {
  display: flex;
  justify-content: center;
}
button {
  padding: 10px;
  border: 1 solid black;
  border-radius: 100px;
}
@media (max-width: 430px) {
  p {
    font-size: 10px;
  }
}
